:root {
  /* Base Stats */
  --Red: rgb(255, 99, 71);
  --Light-red: rgba(255, 99, 71, 0.8);
  --Orange: rgb(255, 80, 0);
  --Light-orange: rgba(255, 80, 0, 0.8);
  --Yellow: rgb(237, 247, 0);
  --Light-yellow: rgba(237, 247, 0, 0.8);
  --Green: rgb(0, 231, 123);
  --Light-green: rgba(0, 231, 123, 0.8);
  --Purple: rgb(207, 0, 255);
  --Light-purple: rgba(207, 0, 255, 0.8);

  /* Pokemon Colors */
  --Pokeyellow: rgb(247, 207, 70);
  --Pokeblue: rgb(66, 105, 183);
  --Pokeopacity: rgba(66, 105, 183, 0.7);
  --Pokeyellow_opacity: rgba(247, 207, 70, 0.6);

  /* Colors */
  --Black: rgb(0, 0, 0);
  --White: rgb(255, 255, 255);
  --Background_gray: rgb(238, 238, 238);
}

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: var(--Black);
}

/* Header */
header {
  min-width: 100svw;
}
h1 {
  font-family: "Pokemon Hollow", sans-serif;
  font-size: 45px;
  color: var(--Black);
  text-align: center;
  margin-top: 30px;
  height: 110px;
}
nav {
  min-width: 100svw;
  height: 80px;
  background-color: var(--Pokeopacity);
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  text-decoration: none;
  color: var(--Black);
  font-family: "Elementals", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.nav-btn {
  background-color: var(--White);
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border-color: var(--Black);
  text-align: center;
  font-size: 24px;
  margin-right: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-btn:hover {
  border-color: var(--Pokeyellow);
  font-weight: bold;
  cursor: pointer;
}

/* Main */
main {
  min-width: 100svw;
  min-height: 150svh;
  background-image: url(./images/grass.jpeg);
}
.background {
  background-color: var(--Pokeopacity);
  width: 95svw;
  height: 1200px;
  margin: auto;
  border-radius: 8px;
}
.container {
  background-color: var(--White);
  width: 40svw;
  height: 250px;
  margin: auto;
  margin-bottom: 20px;
}

/* Modal */
.background_modal {
  background-color: var(--Pokeopacity);
  width: 45svw;
  height: 985px;
  margin: auto;
}
.container-dialog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-1 {
  background-color: var(--White);
  width: 20svw;
  height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
h2 {
  font-family: "Open Sans", "Arial" sans-serif;
  font-size: 35px;
  color: var(--Black);
  text-align: center;
  padding-top: 20px;
}
input {
  width: 400px;
  box-sizing: border-box;
  border: 2px solid var(--Black);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(./images/Search.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
.container-2 {
  background-color: var(--White);
  width: 90svw;
  min-height: 500px;
  margin: auto;
  margin-bottom: 20px;
}

/* Search Section */
#find {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  margin: auto;
  background-color: var(--Pokeyellow);
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}
#find:hover {
  background-color: var(--Pokeyellow_opacity);
  cursor: pointer;
}
.container_filter {
  width: 10svw;
  height: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container-1_filter {
  background-color: var(--White);
  width: 20svw;
  height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* Evolutions Section */
.gray-box {
  background-color: var(--Background_gray);
  width: 80svw;
  height: 400px;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img-evolutions_1,
#img-evolutions_2,
#img-evolutions_3 {
  width: 150px;
  height: 150px;
  border-color: var(--Black);
  border-radius: 50%;
  border-style: solid;
}
/* Footer */
footer {
  min-width: 100svw;
  height: 135px;
  background-color: var(--Pokeopacity);
  display: flex;
  justify-content: center;
  align-items: center;
}
p a {
  text-decoration: none;
  color: var(--White);
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
}
